@model IEnumerable<PAW.Models.Products.Product>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.UnitPrice.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
