@{
    ViewData["Title"] = "Inicio";
}

<h1>Bienvenido al Sistema PAW</h1>

<ul>
    <li><a href="/ProductGen">Generador de productos</a></li>
    <li><a href="/Product/View">Vista de productos (con partial)</a></li>
    <li><a href="/swagger" target="_blank">Swagger UI (API Docs)</a></li>
</ul>
